<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка студентів</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Система управління освітою</h1>
<div class="top-buttons">
    <a href="/" class="btn-home">На головну</a>
</div>
<h1>Список студентів</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Ім'я</th>
        <th>Email</th>
        <th>Дія</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td>
            <div class="button-group">
                <form th:action="@{'/student/' + ${student.id} + '/delete'}" method="post">
                    <button type="submit" class="btn btn-danger">Видалити акаунт</button>
                </form>
                <form th:action="@{'/student/' + ${student.id}}" method="get">
                    <button type="submit" class="btn btn-primary">Перейти в акаунт</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<h1>Додати нового студента</h1>
<form action="/student/add" method="post" class="form-inline">
    <div class="form-row">
        <label for="name">Ім'я студента:</label>
        <input type="text" id="name" name="name" required />
    </div>
    <div class="form-row">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <button class="btn-home" type="submit">Додати</button>
</form>
</body>
</html>
